{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% translate "LAWN Skyhooks" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "LAWN Skyhooks" %}
{% endblock header_nav_brand %}
{% block header_nav_collapse_left %}
{% endblock %}

{% block header_nav_collapse_right %}
{% endblock header_nav_collapse_right %}

{% block content %}
    <div class="allianceauth-example-plugin">

        {% block details %}{% endblock %}
    </div>
{% endblock %}
